[Unit]
Description=BOT - pure python3 irc library
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bot -d
DynamicUser=True
StateDirectory=bot
LogsDirectory=bot
CacheDirectory=bot
CapabilityBoundingSet=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
